{% extends 'base.html' %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    
</div>

 <div class="col-lg-12">
    <div class="card mb-4 py-3">
        <div class="card-body text-center">
            <h1 class="display-1"><strong>403</strong></h1>
            <i class="fas fa-lock text-danger fa-10x mb-4"></i>
            <h1 class="h3 mb-0 text-gray-800"> You are not authorised to perform this action.</h1>
        </div>
    </div>
</div>

{% endblock content %}