{% extends 'base.html' %}

{% block content %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <span class="h3 mb-0 text-gray-800">Change Password</span>
</div>

<form id="change-password-form" method="POST" novalidate>
{% csrf_token %}

    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
            </div>
            <div class="card-body">
                <p>
                    <label>Old password </label>
                    <input id="old_password" name="old_password" placeholder="Enter your old password" required="" type="password" class="form-control">
                    <span style="color: red">{{form.old_password.errors|striptags }}</span>
                </p>
                <p>
                    <label>New Password </label>
                    <input name="new_password1" type="password" class="form-control" placeholder="Enter your new password " required="" id="new_password1">
                    <span style="color: red">{{form.new_password1.errors|striptags }}</span>
                </p>
                <p>
                    <label>New Password Confirmation </label>
                    <input name="new_password2" type="password" class="form-control" placeholder="Enter your new password " required="" id="new_password2">
                    <span style="color: red">{{form.new_password2.errors|striptags }}</span>
                </p>
            </div>
        </div>
    </div>

    <div class="card mb-4 ">
        <div class="card-body mx-auto d-sm-inline-block">
            <button type="submit" class="btn btn-md btn-primary shadow-sm">
                <i class="fas fa-disk fa-sm text-white-50"> </i> Update Password
            </button>
        </div>
    </div>

</form>
{% endblock content %}